<div class="row my-2">
  <div class="col-lg-12">
    <h3> About the Future of Conservation project </h3>
    <hr class="primary">
    <p>
      The purpose of this project is to explore the views of conservationists on a range of issues, as a way of informing debates on the future of conservation.
      Recent debates about the future of conservation have been dominated by a few high-profile individuals, whose views fit fairly neatly into polarised positions.
      In this survey, we are exploring the range of views that exist within the conservation movement globally, and how this varies by key demographic characteristics such as age, gender, geography and educational background.
    </p>
  </div>
</div>

<div class="row my-2">
  <div class="col-lg-12">
    <h4 class="text-primary"> How does it work? </h4>
    <hr>
    <p> After taking the survey, the website will present your views on a plot with two axes: how people-centred or nature-centred your views are, and how pro-markets or anti-markets they are. We chose these two axes based on the results of our earlier studies into the views of conservationists, which identified them as important dimensions that distinguished between respondents.  </p>
    <p> To place your viewpoint on the plot, the website calculates a score for each axis. This is done by applying a weighting to each question relevant to the axis. The weighting is derived from our previous studies and expert judgement.  </p>
    <p> We will apply more powerful statistical tools in our subsequent analyses and publications, producing a more detailed and nuanced picture of the views held by conservationists. </p>
    <p> We will publish our findings on the views of conservationists in various ways. Where possible, we will include these on this website. We intend to make our findings widely available to help inform debates about the future of conservation.  </p>
  </div>
</div>

<div class="row my-2">
  <div class="col-lg-12">
    <h4 class="text-primary"> About us </h4>
    <hr>
    <p> Together we have jointly created the website and associated research projects. We are: </p>
    <ul>
      <li> Chris Sandbrook (UNEP World Conservation Monitoring Centre, and University of Cambridge) </li>
      <li> George Holmes (University of Leeds) </li>
      <li> Janet Fisher (University of Edinburgh) </li>
      <li> Rogelio Luque-Lora (Independent consultant) </li>
    </ul>
    <p>The website is hosted by the UNEP World Conservation Monitoring Centre.</p>
  </div>
</div>

<div class="row my-2">
  <div class="col-lg-12">
    <h4 class="text-primary"> Research ethics and data storage </h4>
    <hr>
    <p> This project has been approved by the Research Ethics committee at the University of Leeds.  </p>
    <p> All data gathered will be stored securely and anonymously by UNEP WCMC, and used solely for the purposes of this research project. It will not be seen by anyone outside the research project.  </p>
    <p> Your individual responses will not be identifiable either in this website or in subsequent publications. If you provide us with your email address, we will not share it with other parties, and will only use this to send you summarised results and to invite you to participate in the survey again in future.  </p>
  </div>
</div>
