<div class="row my-2">
  <div class="col-lg-12">
    <h3> About the Future of Conservation project </h3>
    <hr class="primary">
    <p>
    The purpose of this project is to explore the views of conservationists on a range of issues, as a way of informing debates on the future of conservation. Recent debates about the future of conservation have been dominated by a few high-profile individuals, whose views seem to fit fairly neatly into polarised positions. In this survey, we are exploring the range of views that exist within the conservation movement globally, and how this varies by key demographic characteristics such as age, gender, geography and educational background.
    </p>
  </div>
</div>

<div class="row my-2">
  <div class="col-lg-12">
    <h4 class="text-primary"> How does it work? </h4>
    <hr>
    <p> After taking the survey, the website will present your views on a graph with two axes: how people-centred or nature-centred your views are, and how pro-markets or anti-markets they are. We chose these two axes based on the results of our earlier studies into the <a href="http://onlinelibrary.wiley.com/doi/10.1111/cobi.12811/abstract">views of conservationists</a>, which identified them as important dimensions that distinguished between respondents. </p>
    <p> To place your viewpoint on the graph, the website calculates a score for each axis. This is done by applying a weighting to each statement relevant to the axis. The weighting is derived from our previous studies and expert judgement. </p>
    <p> We will apply more powerful statistical tools in our subsequent analyses and publications, producing a more detailed and nuanced picture of the views held by conservationists. </p>
    <p> We will publish our findings on the views of conservationists in various ways. Where possible, we will include these on this website. We intend to make our findings widely available to help inform debates about the future of conservation. </p>
  </div>
</div>

<div class="row my-2">
  <div class="col-lg-12">
    <h4 class="text-primary"> About us </h4>
    <hr>
    <p> Together we have jointly created the website and associated research projects. We are: </p>
    <ul>
      <li> <a href="http://www.geog.cam.ac.uk/people/sandbrook/" target="_blank">Chris Sandbrook (UN Environment World Conservation Monitoring Centre, and University of Cambridge)</a> </li>
      <li> <a href="http://www.see.leeds.ac.uk/people/g.holmes" target="_blank">George Holmes (University of Leeds)</a> </li>
      <li> <a href="http://www.geos.ed.ac.uk/homes/jfisher2/" target="_blank">Janet Fisher (University of Edinburgh)</a> </li>
      <li> Rogelio Luque-Lora (University of Cambridge) </li>
      <li> <a href="https://edinburghconservationscience.com/2014/10/01/aidan-keane/" target="_blank">Aidan Keane (University of Edinburgh)</a> </li>
    </ul>
    <p>The website is hosted by the UN Environment World Conservation Monitoring Centre.</p>
  </div>
</div>

<div class="row my-2">
  <div class="col-lg-12">
    <h4 class="text-primary"> Research ethics and data storage </h4>
    <hr>
    <p> This project has been approved by the Research Ethics committee at the University of Leeds.  </p>
    <p> All data gathered will be stored securely and anonymously by UN Environment World Conservation Monitoring Centre, and used solely for the purposes of this research project. It will not be seen by anyone outside the research project.  </p>
    <p> Your individual responses will not be identifiable either in this website or in subsequent publications. If you provide us with your email address, we will not share it with other parties, and will only use this to send you summarised results and to invite you to participate in the survey again in future.  </p>
  </div>
</div>

<div class="row my-2">
  <div class="col-lg-12">
    <h3> Contact </h3>
    <hr class="primary">
    <p>For more information about The Future of Conservation project please email <a href="mailto:futureofconservation@gmail.com">futureofconservation@gmail.com</a></p>
  </div>
</div>

<div class="row my-2">
  <div class="col-lg-12">
    <h3> Frequently Asked Questions </h3>
    <hr class="primary">

    <p>
    Several people have been in touch with questions about various aspects of the Future of Conservation project. Rather than write to everyone individually, we have prepared the following answers to some frequently asked questions. If you still have a question that is not answered below, please do get in touch: <a href="mailto:futureofconservation@gmail.com">futureofconservation@gmail.com</a>
    </p>

    <p class="text-primary">
    Q: For some statements my answer would depend on the context - in some situations I would agree, and others I would disagree - but this isn’t covered by the response options I am given to choose from.
    </p>

    <p>
    A: We recognise that some of these statements are relatively abstract and are not linked to a particular context. However, we do not see this as particularly problematic. If a respondent feels that their answer would depend on the context, we assume that they will choose an answer close to the mid-point of the scale, reflecting their uncertainty in how to answer. In contrast, other respondents who do not see the statement as context-specific may still choose ‘strongly agree’ or ‘strongly disagree’. In this way the survey is effective at revealing the difference between people who have mixed or nuanced views versus those who hold strong positions regardless of the context.
    </p>

    <p class="text-primary">
    Q: The survey uses a quantitative approach, but the issues involved are complex and require qualitative data. There should be more opportunities to enter qualitative answers in the survey.
    </p>

    <p>
    A: We agree that the issues are complex, and we regularly use qualitative data in other research that we are involved with. Indeed, the statements we used for the Future of Conservation Survey were first developed for a small sample size Q methodology study, which is a mixed quantitative/qualitative methodology. That earlier study revealed some distinct ways of thinking about the issues covered by the Future of Conservation Survey, and in this project we wanted to see how prevalent these views are in the wider conservation community and what factors might explain the views people hold. To do this we opted for a quantitative approach with a large sample size. It is worth noting that had we received the same number of survey responses (now 9500+) with detailed qualitative data we would have had no prospect of analysing all the survey responses.
    </p>

    <p class="text-primary">
    Q: This is an exercise that oversimplifies the debate and is fundamentally reductive.
    </p>

    <p>
    A: We recognise that this is a relatively reductionist way of examining the issues, but we propose (and much of the feedback we’ve had indicates) that it is still useful to demonstrate the range of issues and allow people to explore one characterization of their position compared with those of other conservationists. In this particular research, we have prioritised breadth over depth. We were acutely aware that people would be less responsive to a survey taking more than 15 minutes to complete, hence the choice to work with pre-prepared statements that people could respond to using a simple spectrum of agreement. We recognise that the two axes presented in the figure on the results page do not cover the full breadth of issues at stake in debates about the future of conservation, and indeed several of the statements in the survey do not contribute to respondents’ scores on these two axes. We plan to generate new axes directly from the survey data using statistical techniques, and it will be interesting to see the extent to which these are similar or different from those we constructed from theory in advance. We plan to publish these results as they become available and will post links and summaries on this website.
    </p>

    <p class="text-primary">
    Q: The wording of some of the questions is problematic, making it difficult to know how to answer.
    </p>

    <p>
    A: Please note firstly that the survey is based on statements, rather than questions. The statements went through a lengthy period of testing, but like all social surveys, we accept that some statements are imperfect and that people may dislike some of them. It is important to note that as the survey was intended to discover how conservationists responded to the points made in the New Conservation debate literature, many of the statements are direct quotes or closely paraphrased from published articles in that debate. Our choice of statements does not reflect any particular position that we as researchers take on these debates.
    </p>

    <p class="text-primary">
    Q: I really don’t agree with where I appeared in the final scatter plot, or the quadrant to which I was assigned.
    </p>

    <p>
    A: This is unfortunate, but we are confident that the mechanism that generates the results graph is working correctly and that the vast majority of respondents consider that their location represents their views. It is worth noting a few things:
    </p>
    <p>
    (1) We are careful to say that “your position appears most closely aligned with X” rather than “you are an X” - recognising that the survey cannot be a perfect tool and that labelling can be unhelpful.
    </p>
    <p>
    (2) You may be very close to the dividing line between quadrants on one or both of the axes. In that case, it is worth thinking about whether your viewpoint really sits between the two positions, rather than in the one to which you have been assigned.
    </p>
    <p>
    (3) If you feel you are in completely the wrong place, it might be possible that you responded to one or more statements incorrectly by not noticing the negative wording of the statement – e.g. if you answer that you strongly disagree with the statement “There is no significant conservation value in highly modified landscapes”, then you are in effect saying that you do think there is significant conservation value in highly modified landscapes.
    </p>

    <p class="text-primary">
    Q: Isn’t this just an academic exercise? What difference can it make?
    </p>

    <p>
    A: We certainly want this survey to be more than just an academic exercise, and we see it as one stage of a process rather than an end in itself. We are delighted that it has already stimulated debate, and think that in itself, this is very useful for the conservation community. As a next step, we are developing a version that can be run for a defined group, like colleagues within an organisation or a student cohort, and to develop accompanying materials to help groups consider the implications of their results. We have already been approached by several groups looking for such a collaboration, and would be delighted to hear from you at <a href="mailto:futureofconservation@gmail.com">futureofconservation@gmail.com</a> if you would be interested to take part. You can find out more at the <a href="http://www.cambridgeconservation.org/collaboration/go-fox-%E2%80%93-group-and-organisation-future-conservation-survey" target="_blank">project website</a> for this new phase of our work.
    </p>

    <p class="text-primary">
    Q: Can this survey be run for just my group / organisation?
    </p>

    <p>
    A: As mentioned above, several groups have already approached us asking for a closed survey for only their group, and we are developing this as a second phase for the project. If you are interested in such a collaboration or have ideas for potential funding for its development, we would love to hear from you at: <a href="mailto:futureofconservation@gmail.com">futureofconservation@gmail.com</a>. You can find out more at the <a href="http://www.cambridgeconservation.org/collaboration/go-fox-%E2%80%93-group-and-organisation-future-conservation-survey" target="_blank">project website</a> for this new phase of our work.
    </p>

    <p class="text-primary">
    Q: Why these statements? By limiting the statements to the issues already covered in the New Conservation debate, aren’t you reproducing its limitations?
    </p>

    <p>
    A: We recognise this point. Our research began as an investigation into how members of the wider conservation community felt about the issues raised in the New Conservation debate, and that is what we have continued with this survey. These debates are broad enough to cover many key issues in conservation. However, we do recognise that there are other important issues that matter for the future of conservation that have not featured in the New Conservation debate, and are therefore missing from our survey. We may look to introduce new statements to rectify this in future versions of this project.
    </p>

    <p class="text-primary">
    Q: The questions are leading questions, and this is poor research design.
    </p>

    <p>
    A: Please note that the survey is based on statements, rather than questions, and therefore cannot be considered leading. The statements are phrased as Likert items and are sometimes deliberately provocative such that they elicit responses with a spectrum of agreement.
    </p>
  </div>
</div>
