<h1>Future of Conservation</h1>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mauris odio, dapibus id tellus in, tincidunt auctor ligula. Praesent sit amet urna feugiat, euismod leo vitae, ornare quam. Nulla porta dapibus eleifend. Donec a sollicitudin urna, id euismod nisi. Etiam ut cursus quam.  </p>

<%= link_to "Take the survey", new_survey_path, class: 'btn btn-lg btn-primary' %>

<div class="row">
  <div class="col-lg-6">
    <h3>About Future of Conservation</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mauris odio, dapibus id tellus in, tincidunt auctor ligula. Praesent sit amet urna feugiat, euismod leo vitae, ornare quam. Nulla porta dapibus eleifend. Donec a sollicitudin urna, id euismod nisi. Etiam ut cursus quam. Donec at efficitur ipsum. Sed sagittis efficitur dolor, nec sollicitudin elit lacinia eu. Nulla blandit mauris et laoreet luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec nisi nulla, porttitor a augue sit amet, efficitur auctor ligula. Fusce malesuada cursus enim vitae volutpat. Donec volutpat dolor vel velit consequat, id tempus nulla tempor. Curabitur fermentum turpis elit, non cursus velit convallis a.
    </p>
  </div>
  <div class="col-lg-6">
    <%= image_tag 'http://www.placehold.it/500x250' %>
  </div>
</div>
