<p class="card-text">
  <%= country_select "demographics[#{question.short_name}]", "country_one", include_blank: true %><br>
  <%= country_select "demographics[#{question.short_name}]", "country_two", include_blank: true %><br>
  <%= country_select "demographics[#{question.short_name}]", "country_three", include_blank: true %>
</p>
