$grey-1: #1C2E36;
$grey-2: #3E4E54;
$grey-3: #606D72;
$grey-4: #838D91;
$grey-5: #A5ACAF;
$grey-6: #C7CBCD;
$grey-7: #E8EAEB;
$white:  #FFFFFF;

$blue-darkest:  #04327B;
$blue-dark:     #043C96;
$blue:          #084FC2;
$blue-pale:     #ADBBD3;

$red: #FE0000;
$gold: #F6A623;

$green-dark:    #008C6C;
$green:         #00A882;
$green-light:   #00C397;
$green-pale:    #00A882;
