<h1>Results#show</h1>
<p>Find me in app/views/results/show.html.erb</p>

<h2>IP: <%= @results.ip_address %> </h2>

<h2>X Axis: <%= @results.x_axis_total %> </h2>
<h2>Y Axis: <%= @results.y_axis_total %> </h2>
<h2>UUID: <%= @results.uuid %> </h2>
