<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-md-4">
        <a href="http://unep-wcmc.org" target="_blank" class="footer__logo"></a>
      </div>

      <div class="col-xs-8 col-md-8 text-xs-right">
        <h6>Future of Conservation</h6>
        <small class="pull-right">
          Copyright <%= Date.today.year %> Future of Conservation
        </small>
      </div>
    </div>
  </div>
</footer>

